.section {
  width: 870px;
  margin: 0px auto;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(191, 205, 222, 0.75);
}

.transaction__history {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.th {
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
  background-color: #00bfff;
}

.tr {
  font-size: 16px;
  line-height: 1.4;
  color: #808080;
}

.tr:nth-child(even) {
  background-color: #add8e6;
}

.td,
.th {
  width: calc(100% / 3);
  padding: 10px 0px;
  border-right: 1px solid rgb(224, 230, 231);
  border-left: 1px solid rgb(224, 230, 231);
}
